@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@media (max-width: 768px) {
  .header__nav {
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0;
    width: 100%;
    padding: 0.5rem;
  }

  .section-one {
    height: auto;
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .section-one__content {
    height: auto;
    width: 100%;
    padding: 2rem 1rem;
  }

  .section-one__headline {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .section-one__text {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .section-two {
    flex-direction: column;
    height: auto;
    padding: 2rem 1rem;
  }

  .section-two__wrapper-content {
    width: 100%;
    margin: 2rem 0 0;
  }

  .section-three__headline-box {
    flex-direction: column;
    gap: 2rem;
  }

  .section-three__content-services {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .section-four {
    padding: 2rem 1rem;
    height: auto;
    margin: 2rem 0;
  }

  .section-four__content {
    width: 100%;
    margin: 0;
    padding: 1rem;
  }

  .section-five__content-part-1,
  .section-five__content-part-2 {
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin: 2rem 0;
  }

  .section-five__inner-content-1,
  .section-five__inner-content-2 {
    width: 100%;
    padding: 0 1rem;
  }

  .section-five__image img,
  .section-five__image-2 img {
    width: 100%;
  }

  .section-six__headline-content {
    flex-direction: column;
    gap: 2rem;
  }

  .slider__viewport {
    width: 100%;
  }

  .img-container {
    flex: 0 0 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", serif;
  scroll-behavior: smooth;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  background: transparent;
  position: fixed;
  z-index: 2;
}

.header.scrolled {
  background-color: rgba(0, 0, 0, 0.8); /* Adjust color as needed */
  transition: background-color 0.3s ease;
}

.header__quote-button {
  background-color: #ff4d01;
  padding: 15px;
  color: white;
  border: none;
  cursor: pointer;
}

.header__nav {
  display: flex;
  width: 75%;
  justify-content: end;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  /* margin: 25px 150px 0; */
}

.header__link {
  color: white;
  font-weight: normal;
  text-decoration: none;
}

.section-one {
  position: relative;
  height: 65rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.section-one__background {
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("img/section1.jpeg");
  filter: brightness(0.5) sepia(0.5) blur(1px);
}

.section-one__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 60rem;
  width: 40rem;
  color: white;
  z-index: 1;
}

.section-one__headline {
  font-size: 3rem;
  font-weight: 400;
  line-height: 84px;
  text-align: center;
}

.section-one__text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.section-one__quote-button {
  background-color: #ff4d01;
  padding: 15px 20px;
  border: none;
  color: white;
  cursor: pointer;
}

.section-one__buttons {
  display: flex;
  gap: 1rem;
}

.section-one__service-button {
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.section-two {
  padding: 50px 0;
  height: 60rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-two__image {
  position: relative;
  background-image: url("img/section2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 30rem;
  height: 42.5rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section-two__square {
  position: absolute;
  border: 3px solid #ff4d01;
  width: 10rem;
  height: 10rem;
  top: -2rem;
  left: -2rem;
}

.section-two__wrapper-content {
  margin: 0 0 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 4rem;
  width: 40rem;
}

.section-two__about {
  color: #ff4d01;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.3rem;
}

.section-two__headline {
  font-weight: 400;
  font-size: 3.5rem;
}

.section-two__text {
  font-weight: 400;
  color: grey;
  line-height: 2rem;
}

.section-two__numbers {
  display: flex;
  gap: 5rem;
}

.section-two__number-value {
  font-size: 3.5rem;
  font-weight: 400;
  color: black;
  margin: 5px 0 5px;
}

.section-two__number-plus {
  color: #ff4d01;
}

.section-two__number-text {
  color: grey;
}

.section-two__about-button {
  border: 1.5px solid black;
  padding: 15px;
  color: black;
  background-color: transparent;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section-three {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-three__our-services {
  font-size: 1rem;
  font-weight: 400;
}

.section-three__headline-box {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
  margin: 0px 0px 100px;
  padding: 15px;
}

.section-three__headline-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

.section-three__our-services {
  color: #ff4d01;
  font-weight: 400;
  text-transform: uppercase;
}

.section-three__headline {
  font-size: 3.5rem;
  font-weight: 400;
  width: 30rem;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}
.section-three__buttons {
  display: flex;
  gap: 1rem;
}

.section-three__button {
  background-color: #fff;
  color: #000;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 15px;
  width: 8rem;
}

.section-three__button--orange {
  background-color: #ff4d01;
  color: #fff;
  padding: 15px;
  width: 8rem;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.section-three__content-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 5rem;
  width: 80%;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}

.service-card__image {
  width: 4.5rem;
}

.service-card__title {
  font-size: 2.5rem;
  font-weight: 300;
}
.service-card__description {
  font-size: 1.2rem;
  color: grey;
  line-height: 2rem;
}

.service-card__separator-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.service-card__separator {
  width: 1.8rem;
  height: 1.8rem;
  background-color: black;
}

.service-card__button {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  font-weight: 300;
  cursor: pointer;
  padding: 5px;
  transition: 0.5s;
}

.service-card__button:hover {
  color: black;
  background-color: #ff4d01;
  transition: 0.5s;
}

.section-four {
  width: 100%;
  position: relative;
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 40rem;
}

.section-four__background {
  position: absolute;
  inset: 0;
  background-image: url("img/section4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-four__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2rem;
  width: 40rem;
  margin: 0 0 0 10rem;
  z-index: 1;
}

.section-four-headline {
  font-size: 3.5rem;
  font-weight: 400;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.section-four__text {
  font-size: 1.2rem;
  color: grey;
  line-height: 2rem;
}

.section-four__buttons {
  display: flex;
  gap: 1rem;
}

.section-four__button {
  border: 1px solid black;
  padding: 15px;
  color: black;
  background-color: transparent;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section-four__button--orange {
  border: 1px solid transparent;
  padding: 15px;
  color: white;
  background-color: #ff4d01;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section-five {
  padding: 25px;
  margin: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-five__content-part-1 {
  display: flex;
  gap: 5rem;
  justify-content: center;
  width: 75%;
  margin: 0 0 50px;
}

.section-five__inner-content-1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}

.section-five__image {
  position: relative;
}

.section-five__image img {
  width: 35rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section-five__headline--orange {
  color: #ff4d01;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 300;
}

.section-five__headline {
  font-size: 3.5rem;
  font-weight: 400;
  width: 30rem;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.section-five__text {
  color: gray;
  line-height: 2rem;
}

.section-five__points-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 15px 0;
}

.section-five__point {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.checkmark {
  font-size: 20px;
  font-weight: 500;
  color: #ff4d01;
  line-height: 1;
  margin-top: 2px;
}

.section-five__square {
  position: absolute;
  border: 3px solid #ff4d01;
  width: 15rem;
  height: 15rem;
  top: -2rem;
  left: -2rem;
  z-index: 1;
}

.section-five__content-part-2 {
  display: flex;
  gap: 5rem;
  justify-content: center;
  width: 75%;
  margin: 50px 0;
}

.section-five__inner-content-2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}

.section-five__image-2 {
  position: relative;
}

.section-five__image-2 img {
  width: 35rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section-five__square-2 {
  position: absolute;
  z-index: 1;
  border: 3px solid #ff4d01;
  width: 15rem;
  height: 15rem;
  bottom: -3rem;
  right: -3rem;
}

.section-five__headline-2 {
  width: 33rem;
  font-size: 3.5rem;
  font-weight: 400;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.section-five__points-container-2 {
  display: flex;
  gap: 3.5rem;
}

.section-five__point-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  & h3 {
    font-size: 3.5rem;
    font-weight: 400;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  }
  & p {
    color: grey;
    line-height: 2rem;
  }
}

.section-five__letter--orange {
  color: #ff4d01;
}

.section-six {
  width: 100%;
  padding: 50px 0;
  margin: 25px 0;
}

.section-six__headline-box {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.section-six__headline-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10rem;
  margin: 50px auto;
  width: 75%;
}

.section-six__headline-projects {
  font-size: 1.2rem;
  color: #ff4d01;
  font-weight: 300;
  text-transform: uppercase;
}

.section-six__slider-buttons {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  gap: 1rem;
}

.prev {
  background-color: #fff;
  color: #000;
  border: 1px solid black;
  padding: 15px;
  cursor: pointer;
}

.next {
  background-color: #ff4d01;
  color: #fff;
  padding: 15px;
  border: 1px solid transparent;
  cursor: pointer;
}

.section-six__headline {
  font-size: 3rem;
  font-weight: 400;
  width: 30rem;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.section-six__headline-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 75%;
}

.section-six__button--orange {
  background-color: #ff4d01;
  color: white;
  padding: 20px 35px;
  border: 1px solid transparent;
  cursor: pointer;
}

.section-six__button {
  background-color: #fff;
  color: #000;
  padding: 10px 25px;
  border: 1px solid black;
  cursor: pointer;
}

.slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__viewport {
  width: 80%;
  overflow: hidden;
}

.slider__track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.img-container {
  flex: 0 0 calc(100% / 3);
  position: relative;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
}

.img-container img {
  width: 100%;
  filter: brightness(75%);
}

.img-container__headline-box {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  bottom: 1rem;
  margin-left: 1.5rem;
  width: 80%;
  & h1 {
    font-size: 1.7rem;
    text-align: start;
    line-height: 3rem;
    font-weight: 300;
    width: 90%;
    color: white;
    text-transform: uppercase;
    overflow-wrap: break-word;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  }
  & p {
    font-size: 1.2rem;
    text-align: start;
    color: white;
    margin: 0 0 1rem 0;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  }
  & p::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: gray;
    margin: 25px 0 0;
  }
  & h3 {
    font-size: 1.2rem;
    color: white;
    font-weight: 300;
    text-align: start;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  }
}

.img-container__slider-bottom-box {
  display: flex;
  margin-bottom: 1.5rem;
  justify-content: start;
  align-items: center;
  align-items: center;
  gap: 1rem;
  & img {
    width: 2rem;
    filter: brightness(70%);
  }
}

.section-seven {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 50px 0;
  margin: 25px 0;
  /* justify-content: center; */
}

.section-seven__headline-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10rem;
  margin: 50px auto;
  width: 75%;
}

.section-seven__headlines-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2rem;
  width: 75%;
}

.section-seven__headlines-box h1 {
  font-size: 2.5rem;
  width: 100%;
  overflow-wrap: break-word;
  font-weight: 400;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.section-seven__headlines-box h4 {
  font-size: 1.2rem;
  color: #ff4d01;
  font-weight: 300;
  text-transform: uppercase;
}

.section-seven__testimonials-content {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.section-seven__headline-outer {
  display: flex;
  align-items: center;
}

.section-seven__headline-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 75%;
}

.headline-button--orange {
  width: 3rem;
  height: 3rem;
  background-color: #ff4d01;
}

.headline-button {
  width: 2.8rem;
  height: 2.8rem;
  background-color: #fff;
  border: 1px solid black;
}

.section-seven__testimonials-outer-pic {
  width: 35%;
  text-align: center;
}

.section-seven__testimonials-pic {
  width: 20rem;
}

.section-seven__testimonials-text {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2.5rem;
  & h1 {
    font-size: 1.8rem;
    font-weight: normal;
  }
  & p {
    color: #989899;
  }
}

.footer {
  width: 100%;
  background-color: #000;
  color: white;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;
  width: 75%;
  flex-wrap: wrap;
}

.footer__column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__column-title {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #ff4d01;
}

.footer__link {
  color: white;
  text-decoration: none;
  font-weight: 300;
  transition: 0.3s;
}

.footer__link:hover {
  color: #ff4d01;
}

.footer__bottom {
  border-top: 1px solid #444;
  padding-top: 2rem;
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 300;
}

.footer__socials {
  display: flex;
  gap: 1rem;
}

.footer__social-icon {
  width: 1.5rem;
  height: 1.5rem;
  filter: brightness(0) invert(1);
  transition: 0.3s;
}
/* Added footer styles */
/* .footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: #f5f5f5;
} */

.footer__section {
  flex: 1;
  text-align: center;
}

.footer__navigation {
  text-align: left;
}

.footer__logo h2 {
  margin: 0;
  font-size: 1.5rem;
}

.footer {
  width: 100%;
  background-color: #1a1a1a;
  color: white;
  /* padding: 5rem 5rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer__column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20%;
}

.footer__column-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.footer__link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.footer__link:hover {
  color: #ff4d01;
}

.footer__logo {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #ff4d01;
}

.footer__description {
  text-align: center;
}

.footer__container {
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-evenly;
  gap: 10rem;
}

.footer__contact,
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #ccc;
  width: 100%;
}
